.sidebar-logo
  .circle
    | &nbsp;
  img(src=webRoot + "/image/sssg.png")
.sidebar-menu
  ul.nav
    li
      a(href=webRoot + "/contents/dev/overview.html", data-page="overview") Overview
    li
      a(href=webRoot + "/contents/dev/code_html.html", data-page="code_html") Coding html
    li
      a(href=webRoot + "/contents/dev/code_style.html", data-page="code_style") Coding Style
    li
      a(href=webRoot + "/contents/dev/code_js.html", data-page="code_js") Coding Javascript
    li
      a(href=webRoot + "/contents/dev/misc.html", data-page="misc") Misc
